<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()">
  <div class="mb-3">
    <input
      class="form-control"
      placeholder="Nome do usuário"
      name="username"
      [(ngModel)]="username"
      #usernameInput=ngModel
      required
    />
    <app-mensagem
    *ngIf="usernameInput.invalid"
    messagem="Usuário obrrigatorio">
  </app-mensagem>
  </div>

  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      [(ngModel)]="password"
      name="password"
      #passwordInput=ngModel
      required
    />
    <app-mensagem
      *ngIf="passwordInput.invalid"
      messagem="Senha obrrigatorio">
    </app-mensagem>
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>